body{
	margin: 0;
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 18px;
}



/*Fonts*/

h1{
/*	font-family: 'Radley', serif, 400;*/
	font-family: 'Crimson Text', serif, 400;
	font-weight: lighter !important;
	font-style: normal !important;
	font-size: 28px;
	color: #2c2c2c;
}


h2{
	font-family: 'Crimson Text', serif, 400italic;
	font-style: italic;
	font-size: 14px;
	color: #FFF;
	letter-spacing: -50;
}

h3{
	font-family: 'Quattrocento Sans', sans-serif, 400;
	font-size: 12px;
	color: #FFF;
	letter-spacing: 5px;
}


h4{
	font-family: 'Quattrocento Sans', sans-serif, 400;
	font-weight: lighter !important;
	font-style: normal !important;
	line-height: 32px;
	font-size: 16px;
	color: #2c2c2c;
}



/*Buttons*/

.btn-large{
    width: 140px;
    height: 48px;
    border: solid 3px #CCC;
    background-color: #FFF;
    font-family: 'Crimson Text', serif, 400italic;
	font-style: italic;
	font-size: 18px;
    color: #999;
}

.btn-large::hover{
    border-color: #999;
}



/*Header*/

.headercontainer{
	width: 100%;
	height: auto;
	margin: 0;
	overflow: auto;
/*	position: relative;*/
}

.header{
	background-size: cover;
	width: 100%;
	position: relative;
	text-align: center;
	z-index: 1;
}

#logo{
	height: 200px;
	position: absolute;
	padding: 5% 30% 0 30%;
	z-index: 2;
}

.subheadertext{
	width: 40%;
	text-align: center;
	position: absolute;
	padding: 47% 30% 0 30%;
	z-index: 3;
}


/*Intro*/

.introcontainer{
	width: 100%;
	position: relative;
	margin: 0;
}

.introheadercontainer{
	width: 50%;
	text-align: center;
	padding: 3% 25% 0 25%;
/*	position: absolute;*/
}

.introcopycontainer{
	width: 31%;
/*	height: 500px;*/
	background-color: #FFF;
	text-align: center;
	padding: 1% 35% 3% 34%;
	position: absolute;
}

#introbuttoncontainer{
	width: 100%;
	height: 64px;
	margin: 5% 44% 0 44%;
}



/*Instagram Feed*/

#instafeed{
	width: 100%;
	height: 300px;
/*	background-color: #000;*/
	position: absolute;
}

.instapiccontainer{
	width: 25%;
	height: 25%;
	display: inline-block;
	position: relative;
	border: 0px;
	display: inline-block;
}









